#b1 {
    background-color: salmon;
}

#login_button
{
    cursor: pointer;
    color: white;
    height: 50px;
    width: 100px;
    background-color: red;
    font-size: larger;
}

#user_name {
    height: 50px;
    font-size: larger;
}